{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    {% tailwind_css %}
    <title>Login to │ Brokly Broker</title>
  </head>
  <body class="flex flex-col justify-center items-center w-screen h-screen text-2xl font-bold p-0 m-0">
    <h1>welcome to Brokly Broker login page</h1>
    <p class="text-xl text-green-500 font-bold" id="msg"></p>
    <form method="POST" id="brokerLoginForm" action="/broker/register">
      {% csrf_token %}
      <input type="tel" class="w-full border p-2 rounded mb-4 bg-transparent outline-none" name="phone" placeholder="Enter phone" value="{{ phone|default:'' }}" autofocus />
      <input type="text" class="w-full border p-2 rounded mb-4" name="otp" placeholder="Enter OTP (after sending)" />
      <button type="submit" class="w-full p-2 rounded mb-4 bg-blue-600">Submit</button>
    </form>
    <script>
      document.getElementById('brokerLoginForm').addEventListener('submit', function (e) {
        e.preventDefault()
        let formData = new FormData(this)
        fetch('', {
          method: 'POST',
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          },
          body: formData
        })
          .then((res) => res.json())
          .then((data) => {
            let msg = document.getElementById('msg')
            if (data.error) {
              msg.innerText = data.message
              msg.style.color = 'red'
            } else {
              msg.innerText = data.message || 'success'
              msg.style.color = 'green'
            }
            if (data.phone) {
              document.querySelector('input[name=phone]').value = data.phone
            }
            if (data.redirect) {
              window.location.href = data.redirect
            }
          })
      })
    </script>
  </body>
</html>
