{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="gu">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Resources/bootstrap-5.3.8-dist/css/bootstrap.min.css' %}" />
    <script src="{% static 'Resources/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
    {% tailwind_css %}
    <title>Login to │ Brokly</title>
    <style>
      body {
        background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
      }
      
      @keyframes fadeInUp {
        from {
          opacity: 0;
          z-index: auto;
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .animate-fadeInUp {
        animation: fadeInUp 1s ease forwards;
      }
      
      @keyframes zoom {
        0%,
        100% {
          transform: scale(1.1);
        }
        50% {
          transform: scale(1.2);
        }
      }
    </style>
  </head>
  <body class="flex flex-col justify-center items-center w-screen h-screen font-bold p-0 m-0 bg-black text-white animate-fadeInUp">
    <h1>Welcome to Brokly login page</h1>
    <p class="text-xl text-green-500 font-bold" id="msg"></p>
    <form id="userLoginForm" method="POST">
      {% csrf_token %}
      <input type="tel" class="w-full border p-2 rounded-xl mb-4 bg-transparent outline-none" name="phone" id="phone" placeholder="Enter phone" autofocus />
      <div id="otp-box" class="hidden">
        <input type="text" class="w-full border p-2 rounded-xl mb-4" name="otp" id="otp" placeholder="Enter OTP (after sending)" />
      </div>
      <div id="profileFields" class="hidden">
        <input type="file" name="img" id="img" class="w-full border p-2 mb-4 rounded-xl" />
        <input type="text" name="uname" id="uname" class="w-full border p-2 mb-4 rounded-xl" placeholder="username" />
        <select name="state" id="state" class="w-full border p-2 mb-4 rounded-xl">
          <option value="1">Gujarat</option>
        </select>
        <select name="city" id="city" class="w-full border p-2 mb-4 rounded-xl">
          <option value="1">Ahmedabad</option>
        </select>
      </div>
      <button type="submit" id="btn" class="w-full p-2 rounded-3 mb-4 bg-blue-600">Continue</button>
    </form>

    <script>
      function getCookie(name) {
        let cookieValue = null
        document.cookie.split(';').forEach((c) => {
          c = c.trim()
          if (c.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(c.substring(name.length + 1))
          }
        })
        return cookieValue
      }
      const msg = document.getElementById('msg')
      const form = document.getElementById('userLoginForm')
      const phoneInput = document.getElementById('phone')
      const otpBox = document.getElementById('otp-box')
      const otpInput = document.getElementById('otp')
      const profileFields = document.getElementById('profileFields')
      const btn = document.getElementById('btn')
      
      form.addEventListener('submit', function (e) {
        e.preventDefault()
        let formData = new FormData(this)
        fetch(window.location.href, {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            'X-Requested-With': 'XMLHttpRequest'
          },
          body: formData
        })
          .then((res) => {
            if (!res.ok) throw new Error('HTTP ' + res.status)
            return res.json()
          })
          .then((data) => {
            if (data.error) {
              msg.innerText = data.message
              msg.style.color = 'red'
            }
            if (data.success) {
              msg.innerText = data.message
              msg.style.color = 'green'
            }
            if (data.step === 'otp') {
              otpBox.classList.remove('hidden')
              otpInput.focus()
              btn.classList.add('hidden')
            }
          })
          .catch((err) => {
            console.error('ERROR:', err)
            msg.innerText = 'Server Error / CSRF issue'
          })
      })
      otpInput.addEventListener('input', function (e) {
        if (this.value.length === 6) {
          let formData = new FormData()
          formData.append('phone', phoneInput.value)
          formData.append('otp', otpInput.value)
          fetch('', {
            method: 'POST',
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
            body: formData
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.error) {
                msg.innerText = data.message
                msg.style.color = 'red'
                return
              }
              msg.innerText = data.message
              msg.style.color = 'green'
              if (data.step === 'profile') {
                phoneInput.classList.add('hidden')
                otpBox.classList.add('hidden')
                profileFields.classList.remove('hidden')
                btn.classList.remove('hidden')
                btn.innerText = 'Complete Profile'
                document.getElementById('uname').focus()
              }
              if (data.redirect) {
                window.location.href = data.redirect
              }
              if (data.uname) {
                console.log(data.uname)
              }
            })
        }
      })
    </script>
  </body>
</html>
