{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Broker Dashboard</title>

  </head>
  <body class="flex flex-col justify-center items-center h-screen text-2xl font-bold animate-fadeInUp">
    {% if request.user.is_authenticated and request.user.is_broker %}
      <h1>Welcome to Broker Dashboard</h1>
      <h2>{{ profile }}</h2>
      <a href="/broker/logout/" class="text-blue-500 hover:text-blue-700">Logout</a>
    {% else %}
      <h1>Please login first</h1>
      <a href="/broker/register/" class="text-blue-500 hover:text-blue-700">Login to Broker</a>
    {% endif %}
  </body>
</html>
