{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Brokly Portal Dashboard</title>
    <style>
      @keyframes fadeInUp {
        from {
          opacity: 0;
          z-index: auto;
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .animate-fadeInUp {
        animation: fadeInUp 1s ease forwards;
      }
      
      @keyframes zoom {
        0%,
        100% {
          transform: scale(1.1);
        }
        50% {
          transform: scale(1.2);
        }
      }
    </style>
  </head>
  <body class="flex flex-col justify-center items-center h-screen text-2xl font-bold animate-fadeInUp">
    <h1>Welcome to Brokly Portal Dashboard</h1>
    <h2>{{ bProfile }}</h2>
    <h2>name : {{ bProfile.name }}</h2>
    <h2>state : {{ bProfile.state }}</h2>
    <h2>city : {{ bProfile.city }}</h2>
    <h2>created_at : {{ bProfile.created_at }}</h2>
    <h2>updated_at : {{ bProfile.updated_at }}</h2>
    <h2>last_login : {{ bProfile.last_login }}</h2>
    <a href="/broker-logout/" class="text-blue-500 hover:text-blue-700">Logout</a>
  </body>
</html>
