* {
  transition: all 0.1s ease;
  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 0.2) transparent;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    z-index: auto;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.9ms ease forwards;
}
/* @keyframes zoom {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
} */

.scrollbar-hide::-webkit-scrollbar,
.scrollbar-x-hide::-webkit-scrollbar,
.scrollbar-y-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide,
.scrollbar-x-hide,
.scrollbar-y-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-show::-webkit-scrollbar,
.scrollbar-x-show::-webkit-scrollbar,
.scrollbar-y-show::-webkit-scrollbar {
  display: block;
}

.scrollbar-show,
.scrollbar-x-show,
.scrollbar-y-show {
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}

@media (min-width: 1024px) {
  .lg\:scrollbar-x-show::-webkit-scrollbar {
    display: block;
  }
  .lg\:scrollbar-x-show {
    scrollbar-width: thin;
    -ms-overflow-style: auto;
  }
}

.dark *,
.dark {
  scrollbar-color: rgb(255 255 255 / 0.2) transparent;
}

:disabled {
  cursor: not-allowed;
}

button,
a {
  cursor: pointer;
}

.line-clamp-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 2;
}
