* {
  transition: all 0.1s ease;
  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 0.2) transparent;
}

/* light theme */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7) inset !important;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7) inset !important;
  -webkit-text-fill-color: #000000 !important;
  caret-color: #000000;
  transition: background-color 9999s ease-in-out 0s;
}

/* dark theme */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(255 255 255 / 0) inset !important;
  box-shadow: 0 0 0 1000px rgb(255 255 255 / 0) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
  transition: background-color 9999s ease-in-out 0s;
}

.scrollbar-hide::-webkit-scrollbar,
.scrollbar-x-hide::-webkit-scrollbar,
.scrollbar-y-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide,
.scrollbar-x-hide,
.scrollbar-y-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dark *,
.dark {
  scrollbar-color: rgb(255 255 255 / 0.2) transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

:disabled {
  cursor: not-allowed;
}

button,
a {
  cursor: pointer;
}

.line-clamp-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 2;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    z-index: auto;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}
@keyframes zoom {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}
