{% load static tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block utitle %}
        {% trans 'Home' %}
      {% endblock %}- Brokly
    </title>
    {% comment %}Web Icon Link{% endcomment %}
    <link rel="icon" href="{% static 'images/web-icon.png' %}" type="image/png" />
    {% comment %}Tailwind CSS{% endcomment %}
    {% tailwind_css %}
    {% comment %}CSS{% endcomment %}
    <link rel="stylesheet" as="style" href="{% static 'css/dashboard/base.css' %}" />
  </head>
  <body id="u-dashboard" class="w-full bg-[#fdfdfd] text-black dark:bg-[#0e0d0d] dark:text-white tracking-wide transition-all duration-300">
    <div id="screen-fix" class="w-screen h-screen hidden fixed inset-0 bg-black/90 backdrop-blur-0 z-50 overflow-hidden scrollbar-hide"></div>
    {% comment %}navbar{% endcomment %}
    <aside id="navbar" class="group fixed inset-y-0 left-0 max-h-screen z-50 w-96 lg:w-[60px] lg:hover:w-72 flex flex-col overflow-hidden bg-[#ffffff] lg:bg-[#fdfdfd] hover:bg-[#ffffff] dark:bg-[#0e0d0d] dark:lg:bg-[#0e0d0d] dark:hover:bg-[#0e0d0d] text-black dark:text-white -translate-x-full lg:translate-x-0 transition-all duration-300">
      {% include 'partials/user/navbar.html' %}
    </aside>
    {% comment %}dasktop header view{% endcomment %}
    <header class="hidden lg:block z-40 fixed top-0 left-[56px] right-0 px-1">
      {% block u_d_header %}
      {% endblock %}
    </header>
    {% comment %}mobile header view{% endcomment %}
    <header class="lg:hidden fixed top-0 left-0 z-40">
      {% block u_m_header %}
      {% endblock %}
    </header>
    <script>
      const ubody = document.getElementById('u-dashboard')
      const usfix = document.getElementById('screen-fix')
      const uNavBtn = document.getElementById('u-menu-btn')
      const navbar = document.getElementById('navbar')
      const umNavCloseBtn = document.getElementById('u-m-nav-close-btn')

      function openNav() {
        ubody.classList.add('overflow-hidden', 'scrollbar-hide')
        usfix.classList.remove('hidden')
        navbar.classList.remove('-translate-x-full')
      }
      
      function closeNav() {
        ubody.classList.remove('overflow-hidden', 'scrollbar-hide')
        usfix.classList.add('hidden')
        navbar.classList.add('-translate-x-full')
      }
      
      uNavBtn?.addEventListener('click', openNav)
      umNavCloseBtn?.addEventListener('click', closeNav)
      usfix?.addEventListener('click', closeNav)
    </script>

    {% comment %}main content{% endcomment %}
    <main class="lg:ml-[60px] mb-20 min-h-full bg-[#fdfdfd] dark:bg-[#0e0d0d] px-1">
      {% block ucontent %}
      {% endblock %}
    </main>
    {% comment %}desktop bottom near me button{% endcomment %}
    {% if active == 'home' %}
      <div class="fixed bottom-10 left-[50%] hidden lg:flex justify-center items-center z-40">
        <a href="{% url 'user-near-me' %}" id="nearMeBtn" title="{% trans 'Near Me' %}" class="flex justify-center items-center gap-2 px-4 h-10 rounded-full bg-orange-500 text-white shadow-[0_0_5px_rgba(0,0,0,0.6)] dark:shadow-[0_0_50px_rgba(255,255,255,0.2)] active:scale-95 transition-all duration-1000">
          <div class="flex justify-center items-center">
            <svg xmlns="{% static 'icons/map-pin.svg' %}" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin w-5 h-5">
              <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
          </div>
          <span id="nearMeText" class="text-base overflow-hidden whitespace-nowrap transition-all duration-1000 max-w-[90px] opacity-100">{% trans 'Near Me' %}</span>
        </a>
      </div>
    {% endif %}

    <div class="lg:hidden fixed bottom-0 right-0 z-40 w-full px-1 bg-[#fafafa] dark:bg-[#111010] shadow-lg">
      {% include 'partials/user/mobile_footer.html' %}
    </div>
    {% include 'logout_modal.html' %}
    <script src="{% static 'js/user/image-loader.js' %}" defer></script>
    <script src="{% static 'js/logout-modal.js' %}" defer></script>
    <script src="{% static 'js/user/filter-lists-scroll.js' %}" defer></script>
    <script defer>
      document.querySelectorAll('.search-wrapper').forEach((wrapper) => {
        const searchInput = wrapper.querySelector('.search-input')
        const searchClearBtn = wrapper.querySelector('.clear-search-btn')
      
        if (!searchInput || !searchClearBtn) return
      
        function toggleSeatchClearBtn() {
          searchClearBtn.classList.toggle('hidden', searchInput.value.trim() === '')
        }
      
        searchInput.addEventListener('input', toggleSeatchClearBtn)
      
        searchClearBtn.addEventListener('click', () => {
          searchInput.value = ''
          searchInput.focus()
          toggleSeatchClearBtn()
        })
        toggleSeatchClearBtn()
      })
    </script>
    {% include "error_message.html" %}
  </body>
</html>