{% load static tailwind_tags %} {% load i18n %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block utitle %}
        {% trans 'Home' %}
      {% endblock %}- Brokly
    </title>
    {% comment %}Web Icon Link{% endcomment %}
    <link rel="icon" href="{% static 'images/web-icon.png' %}" type="image/png" />
    {% comment %}Tailwind CSS{% endcomment %} {% tailwind_css %} {% comment %}CSS{% endcomment %}
    <link rel="stylesheet" as="style" href="{% static 'css/dashboard/base.css' %}" />
    {% comment %}JS{% endcomment %}
    <script src="{% static 'js/user/window-scroll-chenge-color.js' %}" defer></script>
  </head>
  <body class="bg-[#f7f9fc] text-black dark:bg-[#121212] dark:text-[#ffffff] tracking-wide">
    {% comment %}Navbar{% endcomment %} {% include 'partials/user/navbar.html' %}

    <div class="lg:ml-[60px]">
      {% comment %}dasktop header view{% endcomment %}
      <div id="dasktopHeader" class="hidden lg:block fixed top-0 left-[60px] right-0 z-40 h-23.5 bg-[#f7f9fc] dark:bg-[#121212]">
        {% include 'partials/user/header.html' %}
      </div>

      {% comment %}mobile header view{% endcomment %}
      <div id="mobileHeader" class="lg:hidden fixed top-0 left-0 z-40 w-screen h-26 bg-[#f7f9fc] dark:bg-[#121212]">
        {% include 'partials/user/mobile-header.html' %}
      </div>

      {% comment %}Main page content{% endcomment %}
      <main id="page-content" class="animate-fadeInUp min-h-[calc(100vh-33px)] px-1 pt-24 pb-24 lg:pt-21 bg-[#f7f9fc] dark:bg-[#121212]">
        {% block ucontent %}

        {% endblock %}
      </main>

      <div id="mobileFooter" class="lg:hidden">
        {% include 'partials/user/mobile-footer.html' %}
      </div>
    </div>

    {% include 'user/modals.html' %}

    <script src="{% static 'js/user/image-loader.js' %}" defer></script>
    <script src="{% static 'js/user/modals.js' %}" defer></script>
    <script src="{% static 'js/user/nav-open-close.js' %}" defer></script>
    <script src="{% static 'js/user/filter-lists-scroll.js' %}" defer></script>
  </body>
</html>
