{% load static %}
{% load i18n %}
{% comment %}modal{% endcomment %}
<div id="logout-modal"
     class="w-screen h-screen transition-all duration-100 fixed inset-0 bg-black/90 backdrop-blur-0 hidden justify-center pt-[200px] z-50">
    <div class="origin-top-right bg-white dark:bg-[#121212] w-full max-w-[30rem] h-[280px] px-2 py-2 rounded-xl">
        {% comment %}header{% endcomment %}
        <div class="flex justify-end items-center px-2">
            {% comment %} <h1 class="text-xl font-semibold">{% trans 'Logout' %}</h1> {% endcomment %}
            <button class="w-[35px] h-[35px] hover:bg-orange-50 dark:hover:bg-[#374151] animate-fadeInUp flex justify-center items-center rounded-full transition-all duration-300" onclick="logoutmodelclose();">
                <svg xmlns="{% static 'icons/x.svg' %}"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="lucide lucide-x-icon lucide-x text-black/70 dark:text-[#ffffff]/70">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
        </div>
        {% comment %}body{% endcomment %}
        <div class="flex flex-col justify-center items-center gap-y-2">
            <div class="w-16 h-16 rounded-full bg-orange-500/15 dark:bg-orange-100/15 flex justify-center items-center">
                <svg xmlns="{% static 'icons/log-out.svg' %}"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="lucide lucide-log-out-icon lucide-log-out ml-1 w-8 h-8 text-red-500">
                    <path d="m16 17 5-5-5-5" />
                    <path d="M21 12H9" />
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                </svg>
            </div>
            <h1 class="text-2xl font-semibold">{% trans 'Logout' %}</h1>
            <h4 class="text-base font-medium lg:font-semibold w-[290px] text-center text-[#282F39] dark:text-[#ffffff]/55 leading-tight">
                {% trans 'Are you sure you want to logout from your account?' %}</h4>
        </div>
        <div class="flex justify-between items-center px-4 py-1 gap-4 w-full mt-4">
            <button class="flex justify-center items-center text-[17px] font-medium text-black/80 dark:text-white w-full px-2 py-2 rounded-lg border-2 border-black/10 dark:border-white/10 hover:border-black/30 dark:hover:border-white/30 bg-transparent dark:bg-white/3"
                    onclick="logoutmodelclose();">{% trans 'Close' %}</button>
            <button id="log-mod-btn-text"
                    class="flex justify-center items-center text-lg font-medium text-white w-full px-2 py-2 rounded-lg bg-[#ff0000de]">
                    {% trans 'Logout' %}</button>
        </div>
    </div>
</div>
