{% load static %}
{% load i18n %}

<aside class="group fixed left-0 top-0 z-50 h-screen w-[60px] hover:w-64 flex flex-col overflow-y-scroll overflow-x-hidden lg:overflow-hidden border-r border-[#e5e7eb] dark:border-[#1A1A1A] bg-white text-black dark:bg-black dark:text-white transition-all duration-300 ease-in-out">
  {% comment %}Logo{% endcomment %}
  <div class="flex h-12 items-center p-2">
    <img src="{% static 'images/logo.svg' %}" alt="Brokly Logo" class="h-10 w-10 shrink-0" />
    <h1 class="ml-2 whitespace-nowrap text-xl text-black dark:text-white font-semibold opacity-0 transition-all duration-300 group-hover:opacity-100">Brokly</h1>
  </div>

  {% comment %}Menu{% endcomment %}
  <nav class="flex flex-1 flex-col p-2 gap-1">
    {% comment %}Home{% endcomment %}
    <a href="{% url 'user_dashboard' %}"
      title="{% trans 'Home' %}"
      class="flex h-8 items-center text-[14px] lg:p-[11px] p-[10px] font-medium transition-all duration-300 {% if active == 'home' %}
         bg-orange-500 rounded-lg text-white
      {% else %}
         text-black/80 hover:bg-black/5 dark:text-white/90 dark:hover:bg-white/5 rounded-lg
      {% endif %}">
      <svg xmlns="{% static 'icons/house.svg' %}" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0">
        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
        <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
      </svg>
      <span class="ml-5 whitespace-nowrap hidden transition-all duration-300 group-hover:block">{% trans 'Home' %}</span>
    </a>
    {% comment %}Help{% endcomment %}
    <a href="{% url 'user_help' %}"
      title="{% trans 'Help & Support' %}"
      class="flex h-8 items-center text-[14px] lg:p-[11px] p-[10px] font-medium transition-all duration-300 {% if active == 'help' %}
         bg-orange-500 rounded-lg text-white
      {% else %}
         text-black/80 hover:bg-black/5 dark:text-white/90 dark:hover:bg-white/5 rounded-lg
      {% endif %}">
      <svg xmlns="{% static 'icons/headset.svg' %}" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0">
        <path d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z" />
        <path d="M21 16v2a4 4 0 0 1-4 4h-5" />
      </svg>
      <span class="ml-5 whitespace-nowrap hidden transition-all duration-300 group-hover:block">{% trans 'Help & Support' %}</span>
    </a>
    {% comment %}Setting{% endcomment %}
    <a href="{% url 'user_setting' %}"
      title="{% trans 'Setting' %}"
      class="flex h-8 items-center text-[14px] lg:p-[11px] p-[10px] font-medium transition-all duration-300 {% if active == 'setting' %}
         bg-orange-500 rounded-lg text-white
      {% else %}
         text-black/80 hover:bg-black/5 dark:text-white/90 dark:hover:bg-white/5 rounded-lg
      {% endif %}">
      <svg xmlns="{% static 'icons/settings.svg' %}" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0">
        <path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915" />
        <circle cx="12" cy="12" r="3" />
      </svg>
      <span class="ml-5 whitespace-nowrap hidden transition-all duration-300 group-hover:block">{% trans 'Setting' %}</span>
    </a>
  </nav>

  {% comment %}Bottom{% endcomment %}
  <div class="flex flex-col">
    {% comment %}Theme Button{% endcomment %}
    <div class="p-2">
      <button id="u-theme-btn" title="{% trans 'Theme' %}" class="shadow-black dark:shadow-white shrink-0 flex h-8 w-full items-center lg:p-[11px] p-[10px] rounded-lg transition-all duration-300 active:scale-95 hover:bg-black/5 dark:hover:bg-white/5">
        {% comment %}Moon{% endcomment %}
        <svg id="u-moon-icon" xmlns="{% static 'icons/moon-star.svg' %}" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute text-orange-600 transition-all duration-500 scale-100 rotate-0 dark:scale-0 dark:rotate-90">
          <path d="M18 5h4" />
          <path d="M20 3v4" />
          <path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401" />
        </svg>

        {% comment %}Sun{% endcomment %}
        <svg id="u-sun-icon" xmlns="{% static 'icons/sun.svg' %}" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute text-orange-600 transition-all duration-500 scale-0 -rotate-90 dark:scale-100 dark:rotate-0">
          <circle cx="12" cy="12" r="4" />
          <path d="M12 2v2" />
          <path d="M12 20v2" />
          <path d="m4.93 4.93 1.41 1.41" />
          <path d="m17.66 17.66 1.41 1.41" />
          <path d="M2 12h2" />
          <path d="M20 12h2" />
          <path d="m6.34 17.66-1.41 1.41" />
          <path d="m19.07 4.93-1.41 1.41" />
        </svg>

        <span class="ml-8 text-[14px] whitespace-nowrap font-medium text-orange-600 hidden transition-all duration-300 group-hover:block">
          <span class="transition-all duration-300 scale-100 dark:scale-90 block dark:hidden">{% trans 'Dark Mode' %}</span>
          <span class="transition-all duration-300 scale-90 dark:scale-100 hidden dark:block">{% trans 'Light Mode' %}</span>
        </span>
      </button>
      <script>
        const html = document.documentElement
        const themeBtn = document.getElementById('u-theme-btn')
        const savedTheme = localStorage.getItem('utheme')
        localStorage.setItem('uthemeValue', '1')
        
        if (savedTheme === 'dark' || (!savedTheme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          html.classList.add('dark')
        } else {
          html.classList.remove('dark')
        }
        
        themeBtn.addEventListener('click', () => {
          html.classList.toggle('dark')
          if (html.classList.contains('dark')) {
            localStorage.setItem('utheme', 'dark')
            localStorage.setItem('uthemeValue', '2')
          } else {
            localStorage.setItem('utheme', 'light')
            localStorage.setItem('uthemeValue', '1')
          }
          themeBtn.animate([{ transform: 'scale(1)' }, { transform: 'scale(.85)' }, { transform: 'scale(1)' }], {
            duration: 250
          })
        })
      </script>
    </div>
    {% comment %}Profile{% endcomment %}
    <div class="p-3">
      <a href="/profile/" title="{% trans 'View Profile' %}" class="flex items-center rounded-full transition-all duration-300">
        <img src="/media/{{ uProfile.img }}" alt="User avatar" onerror="this.onerror=null; this.src='{% static 'images/avatar.png' %}'" class="w-9 h-9 border-1 border-black/20 dark:border-white/20 shadow-black dark:shadow-white rounded-full group-hover:hidden" />

        <div class="hidden group-hover:flex justify-between w-[230px] border-2 border-black/5 dark:border-white/5 rounded-xl px-2 py-2 hover:bg-black/5 dark:hover:bg-white/5">
          <div class="flex justify-start items-start w-10 h-10">
            <img src="/media/{{ uProfile.img }}" alt="User avatar" onerror="this.onerror=null; this.src='{% static 'images/avatar.png' %}'" class="w-full h-full border-1 border-black/20 dark:border-white/20 shadow-black dark:shadow-white rounded-full" />
          </div>
          <div class="flex-1 flex-col justify-start items-start px-3">
            <h1 class="whitespace-nowrap opacity-0 transition-all duration-300 group-hover:opacity-100 text-[14px] font-medium dark:text-white">{{ uProfile.name|default:'User' }}</h1>
            <h1 class="whitespace-nowrap opacity-0 transition-all duration-300 group-hover:opacity-100 text-[14px] font-medium text-black/50 dark:text-white/50">{% trans 'View Profile' %}</h1>
          </div>
          <div class="flex justify-center items-center">
            <svg xmlns="{% static 'icons/chevron-right.svg' %}" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right text-black/80 dark:text-white/80">
              <path d="m9 18 6-6-6-6" />
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</aside>
