{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Brokly Dashboard</title>
  </head>
  <body class="flex flex-col justify-center items-center h-screen text-2xl font-bold">
    {% if request.user.is_authenticated and request.user.is_user %}
      <h1>Welcome to Brokly Dashboard</h1>
      <h2>{{ profile }}</h2>
      <a href="/logout/" class="text-blue-500 hover:text-blue-700">Logout</a>
    {% else %}
      <h1>Please login first</h1>
      <a href="/register/" class="text-blue-500 hover:text-blue-700">Login to Brokly</a>
    {% endif %}
  </body>
</html>
