{% load static %}
{% load i18n %}
{% comment %}modal{% endcomment %}
<div id="uModal" class="fixed inset-0 bg-black/50 backdrop-blur-sm hidden justify-center items-center z-50 animate-fadeInUp overflow-hidden scrollbar-hide">
  <div class="origin-top-right bg-[#f7f9fc] dark:bg-[#121212] w-100 px-2 py-2 rounded-xl">
    {% comment %}header{% endcomment %}
    <div class="flex justify-between items-center px-2">
      <h1 id="uModalTitle" class="text-xl font-semibold"></h1>

      <button id="uModalCloseBtn" class="w-[35px] h-[35px] hover:bg-orange-50 dark:hover:bg-[#374151] animate-fadeInUp flex justify-center items-center rounded-full transition-all duration-300" onclick="uCloseModal();">
        <svg xmlns="{% static 'icons/x.svg' %}" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x text-black/70 dark:text-[#ffffff]/70">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>
    {% comment %}body{% endcomment %}
    <div class="flex flex-col justify-center items-center">
      <div id="uModalIcon" class="w-20 h-20 rounded-full bg-orange-500/15 dark:bg-orange-100/15 flex justify-center items-center"></div>
      <h1 id="uTitle" class="text-2xl font-semibold py-1"></h1>
      <h4 id="uMessage" class="text-base font-medium py-1 w-[290px] text-center text-[#282F39] dark:text-[#ffffff]/55 leading-tight"></h4>
    </div>
    <div class="flex justify-between items-center px-4 py-1 gap-4 w-full mt-2">
      <button id="uModalCloseBtn" class="flex justify-center items-center text-[17px] font-medium text-[#75797E] w-full px-2 py-2 rounded-lg border-2 border-[#E2E4E8] hover:border-black/30 dark:border-orange-100/15 dark:hover:border-white bg-black/3 dark:bg-white/3" onclick="uCloseModal();">{% trans 'Cancel' %}</button>

      <button id="uModalBtnText" class="flex justify-center items-center text-[19px] font-medium text-[#FDE7E4] w-full px-2 py-2 rounded-lg bg-[#EB5039]"></button>
    </div>
  </div>
</div>
